@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	.lock {
		@apply overflow-hidden pr-[15px];
	}
}

.max-w-container {
	@apply mx-auto px-6 md:px-10 lg:px-20 2xl:max-w-[calc(1440px+160px)];
}

.max-w-container-rent {
	@apply mx-auto md:px-10 lg:px-20 2xl:max-w-[calc(1440px+160px)];
}
.btn-hover {
	@apply rounded-xl p-1 hover:bg-slate-200/10 focus:bg-slate-200/10;
}

.list-item {
	@apply cursor-pointer rounded-xl p-2 hover:bg-slate-200 hover:bg-opacity-30 focus:bg-slate-200 focus:bg-opacity-30 dark:hover:bg-slate-500 dark:focus:bg-slate-500 font-medium;
}

.subtitle {
	@apply overflow-hidden text-ellipsis text-sm text-slate-400;
}

.price {
	@apply overflow-hidden text-ellipsis text-sm text-slate-400;
}

.card-content {
	@apply grid gap-2 leading-4;
}

.swiper-btn {
	@apply absolute top-[45%] z-10 flex cursor-pointer items-center justify-center rounded-full bg-white p-2 shadow-md transition-all hover:shadow-lg dark:bg-gray-700;
}

.base-link {
	@apply text-deep-blue transition-colors hover:text-ligth-blue
}

.rotate-Y-180 {
	transform: rotateY(180deg);
}

/* animations */
.label-fade-enter-active {
	transition: all 0.3s ease-out;
}

.label-fade-leave-active {
	transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.label-fade-enter-from,
.label-fade-leave-to {
	transform: translateY(20px);
	opacity: 0;
}
