@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	.modal-open {
		@apply overflow-hidden;
	}
}
.btn-hover {
	@apply rounded-xl p-1 hover:bg-slate-200/10 focus:bg-slate-200/10;
}

.list-item {
	@apply cursor-pointer rounded-xl p-2 hover:bg-slate-200 dark:hover:bg-slate-500 hover:bg-opacity-30 focus:bg-slate-200 dark:focus:bg-slate-500 focus:bg-opacity-30;
}

.px-base {
	@apply px-6 md:px-10 lg:px-20;
}

.subtitle {
	@apply overflow-hidden text-ellipsis text-sm text-slate-400;
}

.price {
	@apply overflow-hidden text-ellipsis text-sm text-slate-400;
}

.card-content {
	@apply grid gap-2 leading-4;
}

.swiper-btn {
	@apply absolute top-[45%] z-10 bg-white dark:bg-gray-700 p-2 rounded-full flex items-center justify-center shadow-md hover:shadow-lg cursor-pointer transition-all;
}

.rotate-Y-180 {
	transform: rotateY(180deg);
}

/* animations */
.label-fade-enter-active {
	transition: all 0.3s ease-out;
}

.label-fade-leave-active {
	transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.label-fade-enter-from,
.label-fade-leave-to {
	transform: translateY(20px);
	opacity: 0;
}
